<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head lang="en">

    <title>Ground Stations</title>
    <link rel="stylesheet" th:href="@{/css/bootstrap.css}"></link>
	<!--/*/ <th:block th:include="headerinc :: head"></th:block> /*/-->
    
</head>
<body>
<div class="container">
    <!--/*/ <th:block th:include="header :: header"></th:block> /*/-->
    <div th:if="${not #lists.isEmpty(satellites)}">
        <h2>Satellite list</h2>
        <table class="table table-striped">
            <tr>
                <th>Name</th>
                <th>Norad ID</th>
                <th>View</th>
                <th>Edit</th>
                <th>Delete</th>
            </tr>
            <tr th:each="sat : ${satellites}">
                <td th:text="${sat.name}"><a href="/product/${gs.id}">name</a></td>
                <td th:text="${sat.noradId}">Norad id</td>
                <td><a th:href="${'/Satellite/view/' + sat.id}">View</a></td>
                <td><a th:href="${'/Satellite/edit/' + sat.id}">Edit</a></td>
                <td><a th:href="${'/Satellite/delete/' + sat.id}">Delete</a></td>
            </tr>
        </table>

    </div>
</div>
 	<div th:if="${#lists.isEmpty(satellites)}">
      <p>There is not satellites!</p>
    </div>


</body>
</html>